version: 2

updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: America/Chicago
    groups:
      nuget:
        patterns:
          - "*"
    labels:
      - dependencies
      - nuget

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: America/Chicago
    groups:
      github-actions:
        patterns:
          - "*"
    labels:
      - dependencies
      - actions
